body{
    margin: 0;
}
#displaygrid{
    display: grid;
    grid-template-areas: "nav nav nav nav"
                         "header header header header"
                         "modalidades modalidades modalidades modalidades"
                         "sobre sobre sobre sobre"
                         "representantes representantes representantes representantes"
                         "divfooter divfooter divfooter divfooter"
                         "footer footer footer footer";
    grid-template-rows: 75px 490px 400px 700px 80px 10px 150px;
    grid-template-columns: 25% 25% 25% 25%;
}
nav{
    grid-area: nav;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo > img{
    width: 61px;
    height: 51px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav p{
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 11pt;
}
nav #links{
    width: 75vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 14pt;
    color: rgba(222, 17,181);
}
nav a:hover{
    color: white;
}
#frase-banner{
    width: 65vw;
    height: 300px;
    font-family: 'Satisfy', cursive;
    color: white;
    text-shadow: rgba(24, 21, 21, 0.582) 2px 3px 2px;
}
header{
    grid-area: header;
    background-image: url(img/Fundo-laptop.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
#modalidades{
    grid-area: modalidades;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#modalidades p{
    text-align: center;
    line-height: 65px;
    font-size: 20pt;
    font-family: 'ZCOOL XiaoWei', serif;
    background: -webkit-linear-gradient(left top, rgb(16, 161, 218), rgb(59, 84, 174));
    background: linear-gradient(to bottom right, rgb(16, 161, 218), rgb(59, 84, 174));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
    
}
#modalidades > p:hover{
    background: -webkit-linear-gradient(left top, rgb(218, 188, 16), rgb(222, 17,181));
    background: linear-gradient(to bottom right, rgb(218, 188, 16), rgb(222, 17,181));
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    cursor: pointer;
}
.img-modalidades{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.img-modalidades{
    display: none;
}
.img-modalidades > img:nth-child(1):hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
.img-modalidades > img:nth-child(2):hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
.img-modalidades > img:nth-child(3):hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
.img-modalidades > img:nth-child(4):hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
#sobre{
    grid-area: sobre;
    background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Cantarell', sans-serif;
}
.sobre-laptop{
    width: 95vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.sobre-laptop{
    display: none;
}
.sobre-mobile{
    display: flex;
}
.img-sobre-mobile{
    display: flex;
}
.img-sobre-laptop{
    display:none;
}

.sobre-mobile{
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}
#sobre p{
    width: 220px;
    color: black;
}
.img-sobre{
    width: 75px;
    height: 75px;
    padding: 15px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-sobre:hover{
    cursor: pointer;
    box-shadow: rgba(60, 60, 60, 0.527) 2px 3px 2px;
    transition: 0.9s;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}
.bem-estar:hover{
    background-color: #C8FF96;
}
.felicidade:hover{
    background-color: rgb(255, 227, 70);
}
.humanista:hover{
    background-color: rgb(255, 131, 152);
}
#representantes{
    grid-area: representantes;
    width: 100%;
    background-color: rgb(207,207,207);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Satisfy', cursive;
    text-shadow: rgba(24, 21, 21, 0.582) 2px 3px 2px;
    font-size: 30px;  
}
#representantes> p{
    background: -webkit-linear-gradient(rgb(222, 17,181), rgb(16, 161, 218));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer{
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#divfooter{
    grid-area: divfooter;
    background-image: url(img/Fundo-laptop.jpg);
    
}

#socialmidias{
    width: 69px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.social{
    width: 40px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.5); 
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social img{
    width: 15px;
    height: 15px;
}
.social:hover{
    background-color: rgb(16, 161, 218);
    cursor: pointer;
    transition: 0.9s;
}
#contato{
    width: 80vw;
    height: 90px;
    color: white;
    display: flex;
    flex-direction: column;
}
#contato > p >a {
    font-family: arial;
    font-size: 15px;
    margin: 3px;
    text-decoration: none;
    color: white;
}
#end, #tel{
    margin: 10px;
    width: 280px;;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:768px){
    #displaygrid{
        grid-template-rows: 75px 370px 400px 700px 80px 10px 150px;
    }
}
@media(max-width:826px){
    #displaygrid{
        grid-template-rows: 75px 360px 400px 700px 80px 10px 150px;
    }
}
@media(min-width:1024px){
    #frase-banner h1{
        font-size: 45px;
    }
    #frase-banner h2{
        font-size: 35px;
    }
    #frase-banner h3{
        font-size: 25px;
    }
    #displaygrid{
        grid-template-rows: 75px 350px 400px 700px 80px 10px 150px;
    }
    nav a{
        font-size: 15pt;
    }
    .img-modalidades{
        display: flex;
    }
    #sobre{
        flex-direction: row;
    }
    #displaygrid{
        grid-template-rows: 75px 350px 400px 500px 80px 10px 150px;
    }
    #representantes{
        font-size: 40px;
    }
    .img-sobre-laptop{
        display: flex;
    }
    .img-sobre-moblie{
        display: none;
    }
    .sobre-laptop{
        display: flex;
    }
    .sobre-mobile{
        display: none;
    }
    #socialmidias{
        width: 290px;
        flex-direction: row;
    }
    #contato{
        flex-direction: row;
    }
}
@media(min-width:1026px){
    header{
        background-image: url(img/Fundo-laptopgrande.jpg);
    }
    #socialmidias{
        width: 490px;
        margin: 0px 50px;
    }
}
